<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Emily Atkinson studied singing and percussion at the Crane School of Music, State University of New York, Potsdam, where she earned a degree in music education.
  Since moving to London to train at the Royal College of Music, she has enjoyed singing as a soloist and consort singer with many groups, and has sung regularly
  with the Tallis Scholars for the past four years.
</p>
<p>
  Emily grew up as one of nine children in a family that travelled and moved frequently, always making musictogether, so touring with the members of the Tallis
  Scholars has felt like home in many ways. She feels lucky to have performed with the group across four continents, singing some of the most beautiful music in the
  world's greatest venues.
</p>
<p>
  In addition to singing with the Tallis Scholars, Emily has appeared with The Cardinall's Musick, the Academy of Ancient Music, and the Taverner Consort. She loves
  living in a city with so much early music history, and the unique opportunities this has provided, from giving illustrative recitals and talks to tour groups at
  Handel's former residence in London to performing excerpts from Restoration-era masques at the Banqueting House of Whitehall Palace where they were first
  performed. Emily has sung solo-voice performances of more than fifty Bach cantatas in the liturgical context for which they were written, and has recorded a CD of
  Italian solo cantatas. Emily combines her busy performing career with work teaching primary school music classes, leading workshops for children, and mentoring new
  music teachers.
</p>
<p class="tutorquotationhead">- Emily says:</p>
<p class="tutorquotation">
  I loved being part of this whirlwind week of music-making at both CRMSS 2018 and 2019. Each participant brought something special to the course, and it was
  inspiring to see the level of dedication, energy, and love for the music evident in everyone who attended. I'm really looking forward to working with singers on
  this course again next year, as we explore even more stunning Renaissance music.
</p>
