<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Born in Canada, Greg Skidmore arrived in England as an undergraduate at Royal Holloway College, University of London. After graduating with First Class Honours in
  Music, his post-graduate Choral Scholarship at Wells Cathedral lead him to Lay Clerkships at Gloucester Cathedral and Christ Church Cathedral in Oxford. He now
  lives in London, England and pursues a varied career as a consort, choral, and solo oratorio singer alongside his burgeoning work as a conductor and workshop
  leader.
</p>
<p>
  Greg is one of the UK's most sought after consort singers. He has appeared with The Tallis Scholars, The Sixteen, The Cardinall's Musick, Tenebrae, The Gabrieli
  Consort, Alamire, Contrapunctus, The Eric Whitacre Singers, Collegium Vocale Ghent, Ensemble L'Arpeggiata, Cappella Amsterdam, and La Grand Chapelle (based in
  Madrid). He can be heard on discs released by Decca, Deutsche Grammophon, and Harmonia Mundi USA, including recent Grammophone Early Music Award winning recordings
  with Alamire (‘The Spy’s Choirbook’) and The Tallis Scholars (‘Missa Hercules Dux Ferrarie, Missa D'ung aultre amer & Missa Faysant regretz’). In 2015, he featured
  in I Fagiolini’s <i>Betrayal</i>, a fully staged, devised presentation of the madrigals and sacred music of Carlo Gesualdo. 2017, the 450th anniversary of
  Monteverdi’s birth, was a busy year for I Fagiolini, and Greg performed many concerts of Monteverdi’s madrigals and sacred music, toured a new CD release, and
  performed his opera <i>L'Orfeo</i> this year with the group. 2019 saw Greg take part in an extensive tour of I Fagiolini’s
  <i>Leonardo: Shaping the Invisible</i> project, in collaboration with Dr Martin Kemp, a leading scholar on the life and art of Leonardo da Vinci. In 2020 and 2021,
  he featured in all of the Voces8 LiveFromLondon festivals, with I Fagiolini and the Voces8 Foundation Choir.
</p>
<p>
  Greg also works as a soloist. Solo engagements have included working with ballet dancer Carlos Acosta in his A Classical Farewell at the Royal Albert Hall in
  London, England; Handel’s Messiah with the Irish Baroque Orchestra; Purcell’s Ode for St Cecilia's Day with the Orchestra of the Age of the Enlightenment;
  Purcell's Fairy Queen with the Gabrieli Consort; and Monterverdi’s 1610 Vespers at the Brighton Early Music Festival, and with I Fagiolini and the BBC Singers at
  the Barbican Centre. His solo recording debut, released in 2011, was as Christus on Ex Cathedra’s recording of the Lassus St. Matthew Passion and a recent Ex
  Cathedra CD release of Alec Roth’s oratorio <i>A Time to Dance</i> features Greg in a role written for him.
</p>
<p>
  While at Christ Church in Oxford, he began a course of doctoral research in Musicology at the University of Oxford and started his own men’s voices consort, I
  Dedicati. Recently he was appointed Musical Director of Brighton Consort and in 2014 he founded The Lacock Scholars. He has given workshops and masterclasses in
  the UK, France, Canada, New Zealand, the Netherlands, and Australia in association with The Sixteen, I Fagiolini, and on his own, specialising in various
  collections of Renaissance polyphonic repertoire. Greg has assisted Eamonn Dougan, Associate Conductor of The Sixteen, and Justin Doyle, Chief Conductor of RIAS
  Kammerchor (Berlin) in leading week-long singing courses specialising in early music and vocal chamber music. He is increasingly engaged in Canada as a guest
  conductor, clinician, and record producer. He has been published in Early Music and his writing has appeared in programmes and CD liner notes for The Tallis
  Scholars, The Sixteen, The Cardinall’s Musick, The Gabrieli Consort, Tenebrae, and Ex Cathedra.
</p>

<p class="tutor-quotation-head">Greg says:</p>
<p class="tutor-quotation">
  "After so much disruption, uncertainty, disappointment, and struggle over the last two years, I cannot tell you how much I'm looking forward to CRMSS 2022, our
  first chance at hopefully having a 'normal' CRMSS again. CRMSS 2021 was a really special experience, but a unique one. I know that with Robert Hollingworth coming
  that we're all in for such a treat. Please join us!"
</p>
