<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Born in Canada, Greg Skidmore arrived in England as an undergraduate at Royal Holloway College, University of London. After graduating with First Class Honours in
  Music, his post-graduate Choral Scholarship at Wells Cathedral lead him to Lay Clerkships at Gloucester Cathedral and Christ Church Cathedral in Oxford. He now
  lives in London, England and pursues a varied career as a consort, choral, and solo oratorio singer alongside his burgeoning work as a conductor and workshop
  leader.
</p>
<p>
  Greg is one of the UK's most sought after consort singers. He has appeared with The Tallis Scholars, The Sixteen, The Cardinall's Musick, Tenebrae, The Gabrieli
  Consort, Alamire, Contrapunctus, The Eric Whitacre Singers, Collegium Vocale Ghent, Cappella Amsterdam, and La Grand Chapelle (based in Madrid). He can be heard on
  discs released by Decca, Deutsche Grammophon, and Harmonia Mundi USA, including Alamire’s recent Grammophone Early Music Award winning disc, ‘The Spy’s Choirbook’.
  In 2015, he featured in I Fagiolini’s <i>Betrayal</i>, a fully staged, devised presentation of the madrigals and sacred music of Carlo Gesualdo. 2017, the 450th
  anniversary of Monteverdi’s birth, was a busy year for I Fagiolini, and Greg performed many concerts of Monteverdi’s madrigals and sacred music, toured a new CD
  release, and performed his opera <i>L'Orfeo</i> this year with the group. 2019 saw Greg take part in an extensive tour of I Fagiolini’s
  <i>Leonardo: Shaping the Invisible</i> project, in collaboration with Dr Martin Kemp, a leading scholar on the life and art of Leonardo da Vinci.
</p>
<p>
  Greg also works as a soloist. Solo engagements have included working with ballet dancer Carlos Acosta in his A Classical Farewell at the Royal Albert Hall in
  London, England; Handel’s Messiah with the Irish Baroque Orchestra; Purcell’s Ode for St Cecilia's Day with the Orchestra of the Age of the Enlightenment;
  Purcell's Fairy Queen with the Gabrieli Consort; and Monterverdi’s 1610 Vespers at the Brighton Early Music Festival, and with I Fagiolini and the BBC Singers at
  the Barbican Centre. His solo recording debut, released in 2011, was as Christus on Ex Cathedra’s recording of the Lassus St. Matthew Passion and a recent Ex
  Cathedra CD release of Alec Roth’s oratorio <i>A Time to Dance</i>
  features Greg in a role written for him.
</p>
<p>
  While at Christ Church in Oxford, he began a course of doctoral research in Musicology at the University of Oxford and started his own men’s voices consort, I
  Dedicati. Recently he was appointed Musical Director of The Lacock Scholars and gives a regular series of concerts with them, creating site-specific evenings that
  weave polyphonic music with plainsong and silence. He has given workshops and masterclasses in the UK, France, Canada, New Zealand, the Netherlands, and Australia
  in association with The Sixteen, I Fagiolini, and on his own, specialising in various collections of Renaissance polyphonic repertoire. In 2015, Greg joined the
  long list of distinguished Early Music conductors associated with the week-long Lacock Courses held in the UK and around Europe, and joined Eamonn Dougan,
  Associate Conductor of The Sixteen, to lead a course on Polish Renaissance polyphony in August 2017. In August 2018, he assisted Justin Doyle, Chief Conductor of
  RIAS Kammerchor (Berlin) in leading another of these courses. He is increasingly engaged in Canada as a guest conductor, clinician, and record producer. He has
  been published in Early Music and his writing has appeared in programmes and CD liner notes for The Tallis Scholars, The Sixteen, The Cardinall’s Musick, The
  Gabrieli Consort, Tenebrae, and Ex Cathedra.
</p>
<p class="tutor-quotation-head">Greg says:</p>
<p class="tutor-quotation">
  "We're back!! After what can only be described as a horrible year, in so many ways, I can't tell you how much I'm looking forward to CRMSS 2021. The urgency we all
  feel to get back to singing and to this profoundly wonderful music means CRMSS 2021 will undoubtedly be even more of a hot-house atmosphere this time and I can't
  wait. The fact that we're also marking 500 years since the death of Josquin des Prez, one of the great founding fathers of Renaissance polyphony, means this year
  will be so special. Please come and join us!"
</p>
