Before teaching Music History at Western University, Kate
    held a two-year post-doctoral fellowship from the Social Sciences and Humanities Research Council of Canada (SSHRC) at the University of Toronto, researching
    musical notation in the 12 th and 13 th centuries. Her doctoral research focused on Gregorian chant transmission, orally and through the earliest notated books.
    She has published articles in Plainsong and Medieval Music, Acta Musicologica, the Journal of the Alamire Foundation, SPECTRUM, and Early Music.
  </p>
  <p>
    She has been a researcher with many projects around the world including Portugal, Ireland, Germany, Belgium, as well as here at home in Canada; usually, her role
    focuses on connecting the musicological &#39;dots&#39; with the technological tools now available to researchers in the Humanities. She is currently involved in
    developing software and analytics for medieval musical document analysis and chant melody comparisons on a large scale, in several SSHRC-supported projects. She
    sings professionally with the Tafelmusik Chamber Choir, in Toronto.
  </p>

  <!--
      <p>
        At CRMSS 2021, Kate will be dealing with the academic accreditation offered by the Don Wright Faculty of Music at 
        Western University for Western music students only. You should <a target="_blank" href="mailto:kate.helsen@uwo.ca">contact 
          her directly</a> if you wish to know more about this.
      </p>
      -->

  <p class="tutorquotationhead">Kate says:</p>
  <p class="tutorquotation">
    "I love that this week offers an opportunity to make quality music in intelligent and beautiful ways, connecting the throat with both the heart and the mind.
    Through singing, conversation, and friendship, we can liberate Renaissance polyphony from the 'imaginary museum of musical works', and experience them from the
    inside.
  </p>
  <p class="tutorquotation">
    We were so excited to welcome you back for CRMSS 2020 before, well, you know... Having struggled to make whatever music has been possible under the circumstances
    for the last year, as I know you have too, I can tell you that I dream every day about the glorious sounds we made during CRMSS 2018 and 2019. To say, "looking
    forward to CRMSS 2021" doesn't even begin to cover it!"
  </p>