<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Before teaching Music History at Western University, Kate held a two-year post-doctoral fellowship from the Social Sciences and Humanities Research Council of
  Canada (SSHRC) at the University of Toronto, researching musical notation in the 12 th and 13 th centuries. Her doctoral research focused on Gregorian chant
  transmission, orally and through the earliest notated books. She has published articles in Plainsong and Medieval Music, Acta Musicologica, the Journal of the
  Alamire Foundation, SPECTRUM, and Early Music.
</p>
<p>
  She has been a researcher with many projects around the world including Portugal, Ireland, Germany, Belgium, as well as here at home in Canada; usually, her role
  focuses on connecting the musicological &#39;dots&#39; with the technological tools now available to researchers in the Humanities. She is currently involved in
  developing software and analytics for medieval musical document analysis and chant melody comparisons on a large scale, in several SSHRC-supported projects. She
  sings professionally with the Tafelmusik Chamber Choir, in Toronto.
</p>

<!--
<p>
  Kate will be able to help those students interested in receiving the academic credit offered by the Don Wright Faculty of Music at Western University, which is for
  Western music students only. You should <a target="_blank" href="mailto:kate.helsen@uwo.ca">contact her directly</a> if you wish to know more about this.
</p>
-->

<p class="tutor-quotation-head">Kate says:</p>
<p class="tutor-quotation">
  "The kind of happy symbiosis that CRMSS can achieve between musicianship and musicology is incredible, and I look forward to it every year as a kind of musical
  miracle."
</p>
