<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Singer (and player of the viola da gamba and <i>nyckelharpa</i>) Katherine Hill first developed a keen interest in the interaction between older European text and
  music as a teenager in Toronto, singing Gregorian chant and Renaissance polyphony in various choirs and ensembles. With support from the Canada Council for the
  Arts she moved to the Netherlands in the year 2000, pursuing studies, all over Europe, in as many facets as possible of historical performance practices of the
  Middle Ages, Renaissance and early Baroque, very intentionally seeking out and building a natural, vibrant and sustainable singing technique for rhetorical music.
  Over the last 20 years, Katherine has performed, recorded and toured with many early music groups, including the Sequentia Ensemble for Medieval Music, Scivias
  (Berlin), Ars Choralis Coeln, ensemble nu:n, Cappella Amsterdam, Collegium Vocale Ghent, Early Music Voices Calgary, and Ensemble Les Fumeux (Montréal).
</p>
<p>
  Katherine is currently a co-artistic director of the Toronto Consort and is the Cantrix and Director of Music at the Anglo-Catholic parish of St Bartholomew,
  Regent Park, where she directs a mixed choir (that sings primarily 16th century liturgical music) and also a women’s choir, <i>Vinea</i> (specializing in music
  from women’s communities before the year 1500). In 2010, she completed an M.A. in Medieval Studies at the University of Toronto’s world-renowned Centre for
  Medieval Studies, and works regularly as a singing teacher and vocal coach in Toronto, particularly in historical theatre projects at Glendon College (York
  University).
</p>
