<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Lucas Harris discovered the lute during his undergraduate studies at Pomona College, where he graduated summa cum laude. He then studied early music in Italy at
  the Civica scuola di musica di Milano (as a scholar of the Marco Fodella Foundation) and then in Germany at the Hochschule für Künste Bremen. After several years
  in New York City, he moved to Toronto in 2004 and became the regular lutenist for the Tafelmusik Baroque Orchestra. He is a founding member of the Toronto Continuo
  Collective, the Vesuvius Ensemble, and the Lute Legends Ensemble. Lucas plays with many other ensembles in Canada and the USA, including the Helicon Foundation
  (New York) and the Smithsonian Chamber Players (Washington, D.C.). He coaches singers and instrumentalists at the Tafelmusik Summer and Winter Baroque Institutes
  and Oberlin Conservatory’s Baroque Performance Institute, and was an accompanist, coach, and lecturer for Vancouver Early Music’s Baroque Vocal Programme. In 2014
  Lucas completed graduate studies in choral conducting at the University of Toronto, the degree having been funded by a prestigious SSHRC research grant not often
  awarded to performers. Upon graduating, Lucas was chosen as the Artistic Director of the Toronto Chamber Choir, for which he has created and conducted over a dozen
  themed concert programs. He has also directed projects for the Pacific Baroque Orchestra, the Ohio State University Opera Program, Les voix baroques, and the
  Toronto Consort. Lucas was praised for his work with Les voix humaines in Montréal: “The revelation of the concert was the Torontonian lutenist Lucas Harris, who
  weaved a poetic thread through his infinitely subtle interventions. The sweetness and patience of his playing . . . was astonishing.” (Le Devoir)
</p>

<p class="tutor-quotation-head">Lucas says:</p>
<p class="tutor-quotation">
  "My favourite aspect of playing, singing, studying, and listening to Renaissance music is the sense of mystery I always feel. The musicians and composers from that
  time, in spite of not having so many comforts and conveniences that we enjoy, achieved something that today we’re still trying to understand. Spending a week
  coming together with others who want to understand this music better as I do has been a truly joyful experience during CRMSS in 2018, 2019, and 2021. I’m so
  looking forward to the focus on Iberian music in CRMSS 2022 and am greatly honoured to be a part of this faculty."
</p>
