<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Conductor and composer Dr. Patrick Murray is Lecturer in Choral Music at Western University, where he directs two choirs and teaches conducting and choral methods.
  Murray is also director of the University of Toronto Scarborough Concert Choir. Choirs under his direction have been recognized in the National Competition for
  Canadian Amateur Choirs and been invited to perform at Podium, Canada’s national choral conference. Previously, Murray held positions as director of the University
  of Illinois University Chorus, Music Director of FAWN Chamber Creative (Toronto), and as a teaching artist with the Ad Astra Music Festival (Russell, KS), Illinois
  Summer Youth Music, and Toronto Children’s Chorus. As a guest conductor, Murray has collaborated with ensembles and festivals such as the Guelph Chamber Choir,
  Illinois Modern Ensemble, New Music New Haven, Thin Edge New Music Collective, and University of Toronto New Music Festival. An avid singer of early music, he has
  sung professionally with the Yale Schola Cantorum and ecco early music ensemble.
</p>
<p>
  Murray’s compositions have been commissioned and premiered by numerous ensembles in Canada and the United States including New York Polyphony, Carmel Bach
  Festival, Norfolk Chamber Music Festival, Grand Philharmonic Choir, and the Canadian Men’s Chorus. His works have been recognized by the SOCAN Young Composers
  Award, recorded by the DaCapo Chamber Choir, and are published by Cypress Choral Music and Renforth Music.
</p>
<p>
  Murray received his DMA in choral conducting from the University of Illinois, where he concurrently held a SSHRC Doctoral Research Fellowship studying practices of
  community engagement in contemporary choral composition. As a volunteer, Murray leads a participatory singing program for the London InterCommunity Health Centre,
  focused on social connection and well-being. Murray holds additional degrees from the Yale School of Music and University of Toronto, and has studied under noted
  conductors including Andrew Megill, David Hill, Masaaki Suzuki, and Ivars Taurins.
</p>
<p>Murray lives in London, Ontario with his partner, Taiwanese-American harpist Noël Wan, and their tuxedo cat, Georgina.</p>
