<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Robert Hollingworth is passionate about presenting music to audiences in innovative ways. He founded I Fagiolini in 1986; with them he has presented signature
  projects including <i>Simunye, The Full Monteverdi, Tallis in Wonderland, How Like An Angel</i> (with Australian contemporary circus group C!RCA) for the 2012
  Cultural Olympiad, <i>Betrayal: a polyphonic crime drama</i>, and <i>Leonardo: Shaping the Invisible</i> with Professor Martin Kemp for Da Vinci 2019. A year-long
  celebration of the Monteverdi 450th anniversary in 2017 featured performances of <i>Flaming Heart, 1610 Vespers, The Other Vespers</i>, and <i>L'Orfeo</i> at
  venues including Glyndebourne, Cadogan Hall in London for the BBC Proms, and Queen's Hall as part of the Edinburgh International Festival.
</p>
<p>
  Under Hollingworth’s expert direction, I Fagiolini has gone on to win the Royal Philharmonic Society's Ensemble Award, a Gramophone Award and the Diapason D'Or de
  l'Ann&eacute;. Recent releases on DECCA Classics include the multi-award winning recordings <i>Striggio: Mass in 40 Parts, Amuse-Bouche</i>, and
  <i>Monteverdi: The Other Vespers</i>. In 2019, I Fagiolini released <i>Leonardo: Shaping the Invisible</i> on the CORO label, a programme celebrating the 500th
  anniversary of Leonardo da Vinci's death in music and image. I Fagiolini toured this programme extensively in 2019 in association with leading da Vinci expert
  Professor Martin Kemp.
</p>
<p>
  Robert has directed the English Concert, Academy of Ancient Music, BBC Concert Orchestra; and some of the world's finest chamber choirs including Accentus, NDR
  Chor, Netherlands Chamber Choir, National Chamber Choir of Ireland and BBC Singers. Last season he conducted De Profundis on their latest album, an exploration of
  the rarely performed Spanish master Vivanco’s <i>Missa Assumpsit Jesus &amp; motets</i>, for Hyperion.
</p>
<p>
  Robert has recently conducted projects with Capella Cracoviensis, RIAS Kammerchor, VOCES8 &amp; VOCES8 Scholars with Academy of Ancient Music in Bach's
  <i>Actus Tragicus</i> and Durufl&eacute;'s <i>Requiem</i>, completed a tour of Handel's <i>Messiah</i> with Irish Baroque Orchestra, and journeyed to Perth,
  Australia where he was Keynote Presenter at the Australian National Choral Association's ChoralFest 2019. He gave the world premiere of Benji Merrison’s new piece,
  <i>xoxvx ovoid</i>, with the National Youth Choir of Great Britain at the Aldeburgh Proms. This season, Robert returns to Berlin twice to conduct RIAS Kammerchor:
  first in a programme of Purcell as part of the Barocktage Festival collaboration with Staatsoper, and later to work with them on Orazio Vecchi’s
  <i>L'Amfiparnaso</i>. Robert makes his Russian debut as part of the British Council's 'UK-Russia Year of Music' conducting Blow's <i>Venus and Adonis</i> featuring
  Anna Dennis and Jonathan Sells alongside Russian choir Intrada and Pratum Integrum.
</p>
<p>
  Robert has been appointed Artistic Director of Stour Music festival from 2020, succeeding Mark and Alfred Deller. He regularly writes and presents programmes for
  BBC Radio 3, television, and other media outlets. He is Reader in Music at the University of York, where he founded and continues to lead the MA in Solo Voice
  Ensemble Singing course and directs university chamber choir 'The 24'.
</p>

<p class="tutor-quotation-head">Robert says:</p>
<p class="tutor-quotation">
  "If you sing Renaissance music, you probably don't need me to explain why you should come. You already know some of the sound worlds - the plangency, the thrill up
  your spine when you get the chord exactly in the right place. The world we recreate when we sing this stuff is alive and vibrant - about the closest we'll ever get
  to time travel. All we hope to do on this course is help you to do it better and with these tutors, (to quote Captain Kirk) 'we have the technology'."
</p>
