<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Sharang is presently the Choral Music Director at Huron University College in London, Ontario. He regularly performs with ensembles in Canada, and has been an
  active musician in the UK before coming to Huron. Sharang received a Bachelor of Music degree from Western University and went on to study historical musicology at
  Oriel College, University of Oxford. While lay clerk at The Queen’s College, Sharang sang with numerous Oxford- and London-based ensembles, e.g. the Academy of
  Ancient Music, and Instruments of Time and Truth, and the BBC. He has built his choral and operatic repertoire through performances with The Strand Consort, Fount
  & Origin, Spectra Ensemble, King’s College London Chapel Choir, as well as semi-professional and amateur choral societies in the UK.
</p>
<p>
  In Canada, Sharang has been engaged in choral work at various cathedrals, chapels, parishes, and colleges, all of which have prepared him for a life in
  ecclesiastical music. He has performed with ensembles like Kammerchor, Chor Amica, UWOpera, and Western University Faculty of Music choirs, and is the current
  James T. Chestnutt Choral Conducting Scholar with the Elmer Iseler Singers. He has also premiered music by established and budding composers in Canada, the UK, and
  the USA. Sharang has co-edited Nota Bene: Canadian Undergraduate Journal of Musicology, and presented his research at GAMuT (University of North Texas) and Oriel
  Talks (Oriel College, Oxford).
</p>
<p>
  At Huron, Sharang is working to incorporate his interest in medieval plainchant with his choral experience as part of a "medium-scale" experiment that seeks to
  answer: can the average 20-year-old student somehow relate to the average 1000-year-old plainchant? He will be delighted to talk to you about his thoughts on
  music's transcendental quality, and his experience with the sound of "beautiful singing" surpassing the implicit boundaries that lie between the different cultures
  of a multicultural world. Having been at every session of the Canadian Renaissance Music Summer School, he understands that many of his questions are highly
  relevant at CRMSS. Sharang is thrilled to be back yet again!
</p>
<!--
<p class="tutor-quotation-head">Sharang says:</p>
<p class="tutor-quotation">
  "It is appropriate to call CRMSS a one-of-a-kind, heavy-duty blender. Being here, one quickly senses how this program combines the ingredients—people from all
  walks of life, the desire to sing together, and some of the finest music—to make an unctuous smoothie of beautiful renaissance polyphony. At CRMSS, not only have I
  blended together my own interests in music scholarship, performance, and consort leadership, but I have also been blended into a friendly community of like-minded
  scholar-performer-directors, of musicians bound by lifelong friendships. I cannot wait for round three!"
</p>
-->
