<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  As a versatile musician with many interests, Sharang has long maintained a reputation of existing within the liminal space where musical disciplines converge. He
  is an active performer and a historical musicologist with an interest in medieval Italian music. In 2018, Sharang earned a Bachelor of Music Performance degree
  with the Alumni Gold Medal at Western University. He subsequently earned a Master of Studies degree in Musicology at Oriel College, University of Oxford. His
  engagement as lay clerk at The Queen’s College, Oxford, further prepared him for a life in ecclesiastical music, which he now pursues as Director, Chapel Music at
  Huron University College, London (Canada).
</p>
<p>
  Sharang regularly performs with professional ensembles in Canada and the U.K. He is the current James T. Chestnutt Choral Conducting Scholar with the Elmer Iseler
  Singers. Reaching beyond the confines of the choral, concert, and operatic idioms, Sharang’s repertoire has developed through performances with The Strand Consort,
  Fount & Origin, Spectra Ensemble, King’s College London Chapel Choir, the B.B.C., the Academy of Ancient Music, and Instruments of Time and Truth (through The
  Queen’s College) in the U.K., and with the Elmer Iseler Singers, Kammerchor, Chor Amica, UWOpera, numerous Western University choirs, and solo recitals in Canada.
  As part of his academic career, Sharang has co-edited Nota Bene: Canadian Undergraduate Journal of Musicology, and presented his research at GAMuT (University of
  North Texas) and Oriel Talks (Oriel College, Oxford). He has also been a teaching assistant in musicianship skills at Western, and has led workshops at Huron
  County Bach Festival and Sherborne Abbey Early Music Festival. As an alumnus of the Canadian Renaissance Music Summer School, Sharang is thrilled to be back.
</p>
<p class="tutor-quotation-head">Sharang says:</p>
<p class="tutor-quotation">
  "It is appropriate to call CRMSS a one-of-a-kind, heavy-duty blender. Being here, one quickly senses how this program combines the ingredients—people from all
  walks of life, the desire to sing together, and some of the finest music—to make an unctuous smoothie of beautiful renaissance polyphony. At CRMSS, not only have I
  blended together my own interests in music scholarship, performance, and consort leadership, but I have also been blended into a friendly community of like-minded
  scholar-performer-directors, of musicians bound by lifelong friendships. I cannot wait for round three!"
</p>
