<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  2022 marks the introduction of the
  <b>CRMSS International Scholars</b> programme. Each year, we will welcome a group of student singers from outside Canada, starting with the United Kingdom. They
  will come as a pre-formed group, who know one another and have worked together before, and will share their talents and experience with the rest of the CRMSS
  participants over the course of the week. They will act as leaders within the larger singing groups, and participate in the small group sessions in amongst the
  Canadian participants, as well as have some time to rehearse on their own.
</p>
<p>
  To begin, we are pleased to welcome all five current students studying for a master's degree in Music at the University of York, in the UK, enrolled in York's
  "Solo Voice Ensemble Singing" MA pathway (known as SVES). This is a course of performance-based master's level study dedicated entirely to one-per-part ensemble
  singing. The programme lasts one year and includes daily rehearsing and coaching, three major recitals, and opportunities to perform with all of the University of
  York's many other singing groups.
</p>
<p>
  For more information on SVES, please have a look at the
  <a target="_blank" href="https://www.york.ac.uk/study/postgraduate-taught/courses/ma-music-solo-voice-ensemble-singing/">University of York's website</a>.
</p>
<p style="clear: both">This year's CRMSS International Scholars are:</p>
<p>Isabelle Palmer, soprano<br />Sarah Keating, soprano<br />Rachel Singer, alto<br />Josh Adams, tenor<br />T. J. Callahan, bass</p>
<p>
  <b>Isabelle Palmer</b> is a soprano graduate of Royal Holloway, University of London, where she held a choral scholarship from 2016-19. A current choral scholar of
  the HeartEdge Foundation, Manchester and Genesis Sixteen alumnus, she is now studying for her MA at the University of York. She enjoys performing a wide variety of
  repertoire, from French chansons to Baroque cantatas, but her primary passion lies with music of the Renaissance. When she isn’t singing she can usually be found
  reading, writing and getting far too excited about dogs.
</p>
<p>
  <b>Sarah Keating</b> is a soprano from Waterford, Ireland and recent graduate of both the Royal Irish Academy of Music and Trinity College, Dublin. She performs
  regularly around Ireland with ensembles such as Chamber Choir Ireland, Resurgam and Sestina and has worked as a Lay Vicar Choral at Christ Church Cathedral,
  Dublin. Her recent solo performance engagements include soprano soloist with University of York Choir in Fauré’s Requiem. Sarah is currently studying her Masters
  in York and is a voice student of Susan Young. In her spare time Sarah enjoys sea swimming and has an unhealthy obsession with hummus!
</p>
<p>
  <b>Rachel Singer</b> is a mezzo-soprano from Perth, Australia, who sings with an array of elite chamber and larger ensembles around Australia including the
  National Youth Choir of Australia and The Giovanni Consort, and is currently based in York, England, to pursue postgraduate study. In addition to her musical
  pursuits she has a Bachelor of Neuroscience under her belt, and a passion for making and drinking excellent coffee!
</p>
<p>
  <b>Joshua Adams</b> is a young Australian singer and award-winning composer from Perth, who has recently moved to York to pursue his MA. Before leaving Perth, he
  was the Principal Cantor at St Mary’s Cathedral where he was a chorister for 15 years, a voice teacher, and Musical Director of the chapel choir at The University
  of Notre Dame Australia – Fremantle. Josh has both sung and had his music performed in Australia in many of its professional outfits, a recording featured on
  national radio, and more recently, his music has also been performed in the UK. Canadian debut: coming soon?
</p>
<p>
  <b>T.J. Callahan</b> moved to York to earn his MA after seven years in Seattle, where he worked for Seattle Opera and sang with premier choirs including the Byrd
  Ensemble and Radiance. He grew up in Cleveland, Ohio, so he’s been pretty close to one London or another for most of his life. He has a Bachelor’s in Computer
  Science and has only used it to make weird electronic music noises. He sings as a bass deputy at York Minster and studies with Alex Ashworth. He enjoys going on
  unreasonably long bike rides around Yorkshire and saying hello to the cows.
</p>
