<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  2022 marks the introduction of the
  <b>CRMSS International Scholars</b> programme. Each year, we will welcome a group of student singers from outside Canada, starting with the United Kingdom. They
  will come as a pre-formed group, who know one another and have worked together before, and will share their talents and experience with the rest of the CRMSS
  participants over the course of the week. They will act as leaders within the larger singing groups, and participate in the small group sessions in amongst the
  Canadian participants, as well as have some time to rehearse on their own.
</p>
<p>
  To begin, we are pleased to welcome all five current students studying for a master's degree in Music at the University of York, in the UK, enrolled in York's
  "Solo Voice Ensemble Singing" MA pathway (known as SVES). This is a course of performance-based master's level study dedicated entirely to one-per-part ensemble
  singing. The programme lasts one year and includes daily rehearsing and coaching, three major recitals, and opportunities to perform with all of the University of
  York's many other singing groups.
</p>
<p>
  For more information on SVES, please have a look at the
  <a target="_blank" href="https://www.york.ac.uk/study/postgraduate-taught/courses/ma-music-solo-voice-ensemble-singing/">University of York's website</a>.
</p>
<p style="clear: both">This year's CRMSS International Scholars are:</p>
<p>Isabelle Palmer, soprano<br />Sarah Keating, soprano<br />Rachel Singer, alto<br />Josh Adams, tenor<br />T. J. Callahan, bass</p>
