2021 marks the introduction of the
    <b>CRMSS International Scholars</b> programme. Each year, we will welcome a group of student singers from outside Canada, starting with the United Kingdom. They
    will come as a pre-formed group, who know one another and have worked together before, and will share their talents and experience with the rest of the CRMSS
    participants over the course of the week. They will act as leaders within the larger singing groups, and participate in the small group sessions in amongst the
    Canadian participants, as well as have some time to rehearse on their own.
  </p>
  <p>
    To begin, we are pleased to welcome all five current students studying for a master's degree in Music at the University of York, in the UK, enrolled in York's
    "Solo Voice Ensemble Singing" MA pathway (known as SVES). This is a course of performance-based master's level study dedicated entirely to one-per-part ensemble
    singing. The programme lasts one year and includes daily rehearsing and coaching, three major recitals, and opportunities to perform with all of the University
    of York's many other singing groups.
  </p>
  <p>
    For more information on SVES, please have a look at the
    <a target="_blank" href="https://www.york.ac.uk/study/postgraduate-taught/courses/ma-music-solo-voice-ensemble-singing/">University of York's website</a>.
  </p>
  <p style="clear: both">This year's CRMSS International Scholars are:</p>
  <p>Eleanor Hunt, soprano<br />Anna Claire Golitzin, soprano<br />Anna Palethorpe, alto<br />Ed Lambert, tenor<br />David Valsamidis, bass</p>
  <p>
    <b>Eleanor</b> began singing as a chorister at St Catharine's College, Cambridge, and graduated from Durham University in 2020 with an Upper Second Class degree
    in German and Russian. At Durham, she held choral scholarships at both St John’s College Chapel Choir and University College Chapel Choir, and was involved with
    numerous other ensembles. In her final year, she was Manager of both the University Chamber Choir and Dunelm Early Music Ensemble, and on her Year Abroad sang
    with the Leipziger Kammerchor and the Sächsischer Kammerchor. Eleanor is currently studying under Susan Young whilst on the Solo Voice Ensemble Singing MA course
    at York.
  </p>
  <p>
    Before moving to York for SVES, <b>Anna</b> completed a Bachelor of Music in Early Music History at the University of Michigan School of Music, Theatre and
    Dance, where she finished first in her class. In Ann Arbor, she sang with the Early Music Choir and Orpheus Singers, and and she appeared as a soloist in the
    baroque opera workshop and in various baroque chamber groups. In addition to singing, she studied harpsichord with Joseph Gascho. In England, she has sung with
    the Greg Skidmore’s Lacock Scholars in Ludlow and Hereford. Anna is from California, where she first began singing in a Russian Orthodox church choir.
  </p>
  <p>
    An alumna of Oundle School, <b>Anna</b> studied BA Music at University of Southampton with a choral and music scholarship. During her time at University, she had
    the privilege of doing a Year in Employment at Portsmouth Cathedral, where she was the first female choral scholar. With the cathedral choirs, she was lucky
    enough to perform in some of Europe’s most prestigious venues. Anna developed a love of choral music as a member of the National Youth Choirs of Great Britain,
    having grown up through their programme of choirs.
  </p>
  <p>
    <b>Ed</b> started out his singing as a chorister at York Minster at age seven, which led to him exploring music from an early age. Following five years in York
    and a music scholarship at Oakham School, he then went on to become a Choral Scholar at Portsmouth Cathedral. He has recently graduated from the university of
    York in 2020 with an Upper Second-Class degree in Music. Whilst an undergraduate, he has had many varied vocal opportunities, including singing with The 24, the
    university a capella ensemble Vox and external choirs such as The Swan Consort, The Damian Singers, The Ebor Singers and The Chapter House Choir. Alongside
    singing with these choirs Ed has worked with Convivium Records on a tour to the Tolosa International Choral Festival in 2018 and recording works by Hugh Benham
    for an album in 2019 and sung at the Northern Aldbrough Opera Festival in a production of Handel’s musical drama Semele alongside artists from Opera North. Ed
    decided to continue his studies on the Solo Voice Ensemble Singing MA after his voice naturally moved from Baritone to Tenor through the coaching and guidance of
    his current teacher Susan Young. Alongside being on the SVES MA, he is the tenor choral scholar at York Minster.
  </p>
  <p>
    <b>David</b> David is a bass-baritone, studying with Alex Ashworth. He graduated from the University of York in 2020 with a Music BA and is continuing his
    studies there for an MA in Solo Voice ensemble singing under Robert Hollingworth. A choral scholar at York Minster and member of The 24, David has performed
    Josquin and Ockeghem through to Debussy, Penderecki and Take 6. He dabbles in Opera, having performed in The University of York Opera Society’s 2020 production
    of A Dinner Engagement by Lennox Berkeley and in the chorus in I Fagiolini’s production of Orfeo in summer 2019. David was the Bass II section leader of the
    National Youth Choir of Great Britain in 2017-2018. David is an enthusiastic amateur baker and enjoys making artisanal sourdough with local organic flours.      
     
  </p>