<p>
  <img src="/img/{{include.target}}.jpg" class="{{include.align}}" data-featherlight="/img/{{include.target}}.jpg" loading="lazy" />
  <!-- Text goes below here -->
  Terry McKenna enjoys performing a wide range of musical styles on period and modern lutes and guitars. He’s been with the Toronto Consort for more than 20 years
  now (!) and also plays with Ensemble Polaris and the Toronto Masque Theatre as well as guest appearances with I Furiosi, Musica Franca and Opera Atelier, among
  others. In addition to historical-based repertoire, Terry welcomes opportunities to perform contemporary scores by composers such as James Rolfe, Omar Daniel,
  Peter Hannan, John Beckwith and Harry Freedman. Terry has participated on many recordings and broadcasts and finally did his own feature project, Throw the House
  Out of the Windowe (and Other Damn Fine Dance Tunes) on the Marquis Classics label. Another one is in the works – stay tuned! Terry gets great satisfaction from
  teaching guitar and lute at Wilfrid Laurier University. He also enjoys composing and performing music for his wife Susan Kennedy’s youth theatre project
  Playmakers! Terry lives in Stratford, Ontario (where he performs with the Stratford Festival) with Susan and their four children, two dogs, three cats, 1 frog, 1
  turtle, 2 cute new anoles and 3 goldfish…
</p>
