---
id: contact
layout: default
title: Contact
description: Information on how to contact The Canadian Renaissance Music Summer School, including an online web contact form.
page-nav-items:
  - title: Apply to CRMSS 2022
    target: "#apply"
    id: 1
  - title: Contact Form
    target: "#contact-form"
    id: 2
  - title: Find CRMSS On A Map
    target: "#map"
    id: 3
---

<center>
  <h1>How to Apply or Contact Us</h1>
  {% include page-nav.html page-nav-item-ids="1 2 3" %} {% include social-buttons.html %}
</center>

<center>
  <a class="button apply" href="/application-form" target="_blank">Apply to the Canadian Renaissance Music Summer School 2021</a>
  <br />
  <a class="button upload" href="/upload" target="_blank">Upload your supporting material</a>
</center>

<h2 id="apply">Apply to come to The Canadian Renaissance Music Summer School</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<!-- <p>Applications for CRMSS 2022 will open soon. Detailed information on how to apply will appear here once applications are open.</p> -->

<p>The application process has two parts:</p>
<ul class="contact-ul">
  <li>filling in an online form</li>
  <li>uploading some supporting material</li>
</ul>
<p>
  You can do all of this online by using the buttons above. Please fill in the online form as soon as you can, so we can get in contact with you and help you through
  the rest of the process. You don't need to upload your supporting material at the same time as you fill in the form.
</p>

<p>
  The application deadline of <b>February 1st, 2022</b> only applies to the submission of the online form. If you do this in the last few days of January 2022, you
  may submit your supporting material in the early part of February 2022. We will contact you and make sure everything goes smoothly with your application. Don't
  wait that long though!
</p>

<p>
  If you have attended any previous CRMSS course, or if you applied for CRMSS 2020 before it was cancelled, you do not need to resubmit supporting material. You will
  also complete a shorter application form.
</p>
<p>For those of you submitting supporting material, we need <b>two recordings</b> of you singing and <b>two letters of reference</b>.</p>
<p>
  Don't worry! The recordings don't need to be professionally made and don't require accompaniment. You may submit video or audio files, but please only submit files
  smaller than 50Mb through our upload link. For bigger files, please get in touch with us directly.
</p>
<p>If you already have a recording of yourself that you like please do submit that. You don't need to make a new recording just for this application.</p>
<p>
  The two letters of reference should come from a conductor, singing teacher, or other musician in your life who knows you and who can give us an idea of your
  ability and experience.
</p>
<p>
  Click on the 'Apply to the Canadian Renaissance Music Summer School 2022' button above, and our online application form will open in a new browser tab. You can
  then give us all the information we need and submit your application.
</p>
<p>
  The 'Upload your supporting material' button takes you to our CRMSS Supporting Material upload page, where you can directly upload your recordings and letters of
  reference. Other people may upload material on your behalf (teachers, conductors, etc) using this same page.
</p>

<hr />

<h2 id="contact-form">Contact Form</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>
  <center>If you'd just like to get in touch with us with a question, please use the form below.</center>
</h3>

<center>
  <form name="Question-form" action="https://formspree.io/f/mvovqwkq" method="POST">
    <p><b>Name:</b></p>
    <input type="text" name="Name" /><br />
    <p>
      <b>Email:</b>
    </p>
    <input type="text" name="Email" /><br />
    <p><b>What's your question?</b></p>
    <textarea rows="10" cols="30" name="Question"></textarea><br />
    <input type="submit" value="Send" />
  </form>
</center>

<hr />

<h2 id="map">Find CRMSS On A Map</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>
  <center>Find Huron or get directions using the map below:</center>
</h3>

<center>
  <div class="map-responsive">
    <iframe
      width="600"
      height="450"
      frameborder="0"
      style="border: 0"
      loading="lazy"
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJR31TXzzuLogRbnitvREyak8&key=AIzaSyD8eQa-3OPlX6Wg3vt0ArujOe3hakl8hGs&zoom=14&region=ca"
      allowfullscreen
    ></iframe>
  </div>
</center>
