---
id: course
layout: default
title: The Course
description: A more detailed description of the course, including repertoire, performance opportunities, different types of singing, a typical day's schedule, lectures and talks, and more.
page-nav-items:
  - title: Repertoire
    target: "#repertoire"
    id: 1
  - title: Performances
    target: "#performances"
    id: 2
  - title: A Typical Day
    target: "#typical-day"
    id: 3
  - title: Lectures
    target: "#lectures"
    id: 4
  - title: "Lute Day"
    target: "#lute-day"
    id: 5
  - title: "Covid-19 Information"
    target: "#covid"
    id: 6
  - title: "Conducting Masterclass"
    target: "#conducting-masterclass"
    id: 7
---

<center>
  <h1>Course Description</h1>
</center>

{% include preliminary-warning-sub.html %} {% include page-nav.html page-nav-item-ids="1 2 7 3 4 5" %}

<h2 id="repertoire">Repertoire</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>CRMSS 2021 Theme</h3>
<p>The theme of CRMSS 2021 is <i>Josquin 500: Beyond the Ordinary</i>.</p>
<p>
  'Beyond the ordinary' is a poetic translation of the opening line of 'Praeter rerum seriem', a medieval plainsong hymn. In the pre-Tridentine rite, this hymn was
  sung at Midnight Mass on Christmas Eve. Josquin des Prez, who many consider to be the father of Renaissance polyphony and who died 500 years ago this year, wrote a
  wonderful six-voice setting of this text, using the Gregorian melody as a cantus firmus. The piece became hugely famous in his own lifetime.
</p>
<p>
  Two of Josquin's leading successors, Cipriano de Rore and Orlande de Lassus, found inspiration in this motet and honoured it in their own writing using so-called
  'parody' technique, the practice of borrowing melodies, textures, or moods from one piece to provide the framework for another - 'riffing', essentially. Lassus
  wrote a Magnificat setting in this way based on Josquin's motet. Rore wrote an entire <i>Missa Praeter rerum seriem</i>, considered a monumental achievement of the
  entire 16th century, for seven voices.
</p>
<p>
  At CRMSS 2021, we will perform all three of these magnetic, captivating, powerful, and mysterious pieces. This theme also allows us the opportunity of exploring
  the music of Josquin's contemporaries, those who influenced him, and the generations of later composers upon whom he had such an impact. Broadly speaking, we will
  open out from just looking at Josquin, Rore, and Lassus, and explore as much of the Franco-Flemish musical style as we can, though these three men were among its
  leading standard bearers for more than 150 years. As always, we will cover as much of the varied music written over the vast era we call 'The Renaissance' as we
  can, focussing ourselves on music connected with the Low Countries and northern France. This area, the 'cradle of polyphony' offers us so much.
</p>
<p>
  <i>Beyond the Ordinary</i> also speaks of the wider ambitions of our experience together at CRMSS. We explore the unusual, the powerful, the challenging, and we
  seek out the intensity of Renaissance polyphonic music in all its richness. This music is not 'ordinary' or 'normal' or even 'comfortable'. It is fascinating,
  enthralling, and - very literally - extraordinary! We hope you will come away from CRMSS with an understanding of this music as being alive, vivid, and powerful,
  and well 'beyond the ordinary'.
</p>

<h3>What types of singing happen at CRMSS?</h3>

<h3>Choral</h3>
<p>
  A major focus of the week's work will be singing together as one chamber-choir sized ensemble, exploring larger scale, mainly sacred a capella music of the
  Renaissance. The specific repertoire chosen will depend on the distribution of voices amongst the course participants, and the repertoire selections will conform
  with the theme of this year's course.
</p>
<p>
  If numbers allow, we will also divide the participants into two smaller chamber groups which will work separately, as well as the tutti singing we will do
  together.
</p>

<h3>Solo</h3>
<p>
  While the majority of our time will be spent preparing ensemble music in choral and small group contexts, good solo vocal technique is of course essential for good
  singing. This applies to music written in any style and from any time period.
</p>

<p>
  This year, we are very excited to have Toronto-based soprano Katherine Hill join us as our vocal tutor. Because of commitments she has with The Toronto Consort,
  she will be joining us for the first two days of the course only. Everyone who would like to spend some time with her working specifically on vocal technique will
  have a chance, either in a one-on-one session or via one of her specialisms, group vocal technique sessions.
</p>

<p>
  We're also very lucky with have Lucas Harris, one of Canada's most prestigious lutenists, with us for the entire week this year. While not involved in
  <a onclick="javascript:Scroll('#lute-day');">Lute Day</a>, Lucas will be available to work with solo singers in preparing solo repertoire to be accompanied on the
  lute. Lucas will bring an array of instruments for the purpose. Singers interested in exploring this repertoire throughout the week will also benefit from a
  masterclass experience lead by Greg and Lucas.
</p>

<p>
  Participants are enthusiastically encouraged to bring their own solo repertoire, and we suggest works written before 1650. If you can bring music written by
  composers from the Low Countries or northern France, to fit into the broader theme of CRMSS 2021, that would be great but we will of course work with you on any
  Renaissance music you have an interest in.
</p>

<h3>Consort singing: one and two per part vocal chamber music</h3>
<p>
  Any serious amount of time spent getting to know the music of the Renaissance must include small-ensemble singing. The tutors will choose groups and assign them
  repertoire before the week begins, sending out scores and reference recordings so participants can prepare and come with at least one or two pieces already
  learned. Over the course of the week, it is hoped that other groups will form ad hoc to explore this wonderful secular and domestic devotional repertoire,
  sometimes forgotten when thinking of vocal music from the Renaissance. It is of particular importance that the secular music of this period be covered, as it
  provides such a vivid picture of the sorts of musical lives the musicians of the time actually lived, be they composers or singers or both.
</p>

<p>As with solo repertoire, there will be opportunities to work on small ensemble music you might bring yourself.</p>

<p>
  In a change from CRMSS 2019, the pre-formed small groups will all be at least two-per-part. Everyone will be allocated into one of these small groups. There will
  be more time set aside for even smaller, one-per-part consorts to form and experiment with other repertoire, both on an ad hoc basis and also under the direction
  of the tutors.
</p>

<hr />

<h2 id="performances">Performances</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>

<!--
<h3>Final course concert</h3>
<p>
  The work we do over the course of the week will lead us to a major public concert performance. Arrangements for this concert are in the planning stages, but it
  will take place on the evening of <b>Friday, September 3rd.</b>
</p>
-->

<!--
  <p>
    This year we are excited to be able to present this event in the wonderful acoustic of <a target="_blank" href="https://www.cathedral.dol.ca/">St Peter's Cathedral Basilica</a> in downtown London, Ontario. This is one of London's premier concert venues and is particularly well suited to choral singing.
  </p>
-->

<!-- 
  <p>
    We are excited to repeat this in 2020, as we will present another of these wonderful Roman Catholic choral services entirely 
    in Latin and following the pre-Vatican II rite found in the <i>Liber Usualis</i>.
  </p>
-->

<!--
  <p>
    This service will take place on <b>Thursday, May 14th 2020, starting at 5:30pm.</b> It will be free and open to
    the public.
  </p>
-->

<h3>Daily evening church services</h3>
<p>
  Throughout the week, at the end of each day, we will sing Compline. These services will begin at <b>9pm</b> each day. Our Compline service is simple and largely
  made up plainsong, with a few simple motets for contrast, and is designed not as something pressured or necessarily to be worked towards, but rather as a way of
  bringing our day together to a peaceful close - precisely as the service was designed to do in its original monastic context. These services will mainly serve as a
  way for us to come together as as course and to experience the daily rhythm of liturgical music making that formed the wider context for most of the music we will
  be studying.
</p>

<!--
<h3>Choral Vespers at St Peter's Seminary</h3>
<p>
  At CRMSS 2019, a definite highlight for everyone was the special privilege of singing a Choral Vespers service in one of London Ontario's truly magnificent and
  rarely enjoyed liturgical spaces - the St. Thomas Aquinas Chapel at St Peter's Seminary. Plans to repeat this in 2021 are ongoing, and we hope to have some
  exciting news regarding this event soon.
</p>
-->

<h3>Internal 'sharing' concert for CRMSS participants</h3>
<p>
  In a major change from our 2018 and 2019 courses, everyone who participates at CRMSS in 2021 will have a chance to perform any of the music they work on over the
  week that they wish to, be it in their preformed smaller groups or in groups they form themselves or the solo repertoire they've worked on or music they bring
  themselves... or anything else! On the evening of <b>Friday, September 3rd</b>, the last evening of the course, we will hold a major performance event as a
  culmination of our week together, to be attended by the course as a whole, participants and tutors. If circumstances allow, this event will also be catered such
  that we hope it will gradually turn into a party, as food and drink are consumed and performances become more light-hearted, tutors are encouraged to do silly
  things on stage, etc.
</p>
<p>
  It is unlikely that we will be able to have a formal, public concert at the end of CRMSS this year. While this is indeed a shame, we will make sure that this
  internal event allows us both to perform the repertoire we have been working on together but also to perform 'to' one another. This event on the Thursday evening
  will be open ended and for everyone. We can't wait to see what you all come up with!
</p>
<p>As circumstances change, it may be possible to update our performance plans, including the possibility of opening up some of our events to the public.</p>

<hr />

<h2 id="conducting-masterclass">Conducting Masterclass</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>New for CRMSS 2021 will be a conducting masterclass that anyone is welcome to participate in.</p>
<p>
  Led by Dr. Patrick Murray, with contributions from Greg Skidmore, Lucas Harris, and Sharang Sharma, this masterclass will cover general conducting technique, but
  also focus on specific concerns relating to conducting Renaissance polyphonic music.
</p>
<p>
  It will be held toward the end of the week, once everyone has gotten to know one another(!), and those interested in conducting will have the chance to work with a
  choir made up of everyone participating in the course.
</p>

<hr />

<h2 id="typical-day">A Typical Day</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>
  In a response to feedback from participants from our 2018 and 2019 courses, and in line with guidance relating to the global pandemic, the schedule in 2021 will be
  overhauled. There will be much more time to eat, rest, form small ad hoc groups, practice on your own, etc. Here's the shape of how 'a typical' day will look.
</p>

<div id="typical-container">
  <div class="typical-row">
    <div class="typical-left-col">10am</div>
    <div class="typical-right-col">Full course choral rehearsal - 2 hours, including a 15 minute tea break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">12 noon</div>
    <div class="typical-right-col">Lunch</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">1:30pm</div>
    <div class="typical-right-col">Small group work and/or solo sessions, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">2:30pm</div>
    <div class="typical-right-col">Lecture / Symposium / Round Table, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">3:30pm</div>
    <div class="typical-right-col">Continued small group work, ad hoc, or solo sessions, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">4:30pm</div>
    <div class="typical-right-col">Dinner</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">6pm</div>
    <div class="typical-right-col">Full course choral rehearsal - 2 hours, including a 15 minute tea break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">8pm</div>
    <div class="typical-right-col">Compline rehearsal (approx. 45 min)</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">9pm</div>
    <div class="typical-right-col">Compline (approx. 30-45 min)</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">10pm</div>
    <div class="typical-right-col">Pub / Home / Sleep / Late night singing!</div>
  </div>
</div>

<!-- <h3>
  Soft launch
</h3>
<p>
  New for CRMSS 2021 will be a 'soft launch' to the week. The course will begin on the afternoon of Thursday,
  August 26th with a longer registration period and time for you to find your feet in our venues. The singing that
  day will only consist of a tutti rehearsal, followed by wine and nibbles (that might perhaps extend into
  the evening!). More information on this 'soft launch' will be available soon.
</p> 
-->

<h3>A more relaxed pace</h3>
<p>
  Attendance at Compline each evening will not be compulsory, but is greatly encouraged! The feedback we've received from those who did attend every night in
  previous years has been that it is a wonderful way to bring each day to a close, but we also understand that some of you may need your sleep!
</p>
<p>
  Attendance at the talks will also not be compulsory, but encouraged - if for no other reason than to give your voice a break and get your brain thinking about
  something other than all that sight reading.
</p>

<!--
<h3>... and an afternoon off!</h3>
<p>
  In another change from 2018 and 2019, we will plan an entire afternoon off during the week once things have got going. This will allow the course as a whole to go
  somewhere off campus and do something non-musical together - to have some fun as a group and get to know one another! We are looking at minigolf or laser tag or
  even just a picnic in the park. Those plans are not finalised, and we'll update you once the final course scheduling has been completed in the summer. The idea
  will be to relax for an afternoon and recharge for the rest of the week's intense singing.
</p>
<p>We have heard your feedback about the pace of the week and are determined to find a good balance.</p>
-->

<hr />

<h2 id="lectures">Lectures, Symposia, and Round Table discussions</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>
  The course will include some sessions in which we - don't - sing! These discussions will provide context for the practical music making which is the focus of the
  course, and highlight the importance of scholarship in performance, and, crucially, visa versa.
</p>
<p>At CRMSS 2021, we are excited to welcome the following speakers:</p>
<ul class="lectures-list">
  <li>
    <b>Dr. Aaron James</b> will give a talk about how musicians in the time of Josquin des Prez and before actually learned music, using a system known as the
    Guidonian Hand. His lecture is entitled <i>A Helping Hand: Guido, Hexachords, Solmization, and Musicianship in the Renaissance.</i>
  </li>
  <li>
    <b>Dr. Kate Helsen</b> has prepared a lecture all about how Josquin des Prez was actually a pretty slippery character to pin down - who was he, actually? How
    many 'Josquins' were there? Her talk entitled <i>Josquin: Choose your own adventure</i> will reveal all.
  </li>
  <li>
    <b>Dr. Patrick Murray</b> will take us through the process of preparing a piece of Renaissance polyphony for performance in his talk entitled
    <i>Anything but ‘Ordinary:’ Bringing a Renaissance mass to life in contemporary performance.</i> For this talk, he'll be using Josquin's
    <i>Missa Hercules dux Ferrariae</i> as a case study, and we'll get to sing a bit of it!
  </li>
  <li>
    Still in the preparation stages, <b>Sharang Sharma</b> will build a specific curriculum for us, to take place over the space of a few sessions, based around the
    practical musicianship skills required to sing Renaissance polyphonic music. Learning by doing is what CRMSS is all about, and we'll spend a lot of time doing
    that, but there are also some insider tips and tricks for sight-reading, interpreting scores, and much more that Sharang will share with us.
  </li>
</ul>

<p>In the past at CRMSS, we've enjoyed the following:</p>

<ul class="lectures-list">
  <li>
    <b>Dr. Roseen Giles</b> gave a paper entitled “‘Don't worry, this will sing itself', and other musical fictions" about the practice of <i>musica ficta</i>.
  </li>
  <li><b>Andrew Pickett</b> presented “‘Drop the beat’ - Introduction to the theory and practice of vocal ensemble intonation”.</li>
  <li><b>Dr. Kate Helsen</b> introduced us to some of her fascinating new research in “What's in a Riff - Chant DNA in modal polyphony”.</li>
  <li>
    <b>Greg Skidmore, Matt Long,</b> and <b>Emily Atkinson</b> took part in a round table discussion led by Dr. Giles entitled “Being a Professional Singer in the
    UK”, taking questions on every aspect of their professional lives in the UK.
  </li>
  <li><b>Lucas Harris</b> gave a lecture entitled “Musica Transalpina: The madrigal in Italy &amp; England, c1600”</li>
  <li><b>Dr. Kate Helsen</b> gave us a crash course in Renaissance musical notation with her workshop entitled “Partly Useful: Renaissance notation”</li>
  <li>
    <b>Dr. Troy Ducharme</b> of the Don Wright Faculty of Music at Western University wrapped our heads around Gesualdo's wild sounds with “Beyond Rules:
    Counterpoint Technique, Musical Meaning, and Style in Selected Works of Gesualdo.”
  </li>
</ul>

<hr />

<h2 id="lute-day">Lute Day</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>

<h3>A new event at CRMSS for 2021</h3>
<p>
  We're very excited to be launching a dedicated sub-event within CRMSS this year, CRMSS Lute Day. Lucas Harris will take charge of this event, scheduled to last one
  entire day this year, but with the ambition of expanding in future years. Lutenist participants will be joining the rest of the course specifically for this day
  and Lucas will plan events tailored to them.
</p>
<p>
  Lucas is contacting potential participants individually and will create a bespoke experience once he has an idea of who will be coming, but here is a list of
  proposed activities:
</p>
<ul class="lectures-list">
  <li>Warmup and technique class</li>
  <li>Lute ensemble work</li>
  <li>Private lessons(probably short, 30 to 45 minutes)</li>
  <li>Masterclass</li>
  <li>A workshop of division playing</li>
  <li>Lute 'tasting' session</li>
  <li>Short, informal concert, perhaps in collaboration with singing from Katherine Hill and/or Greg Skidmore</li>
</ul>
<p>We are very fortunate to welcome Terry McKenna as a tutor at CRMSS 2021 Lute Day. He will be joining Lucas in planning and running this event.</p>

<h3>Date</h3>
<p>The date of Lute Day this year will be:</p>
<p><b>Sunday, August 29th</b></p>
<p>
  The precise schedule of the day hasn't yet been decided, but the event will last for a 'full day'. Participants and tutors at CRMSS 2021 Lute Day will be welcome
  to attend our nightly Compline service, and perhaps play something during that as well!
</p>

<h3>How to apply</h3>
<p>
  Please fill in our online application form, by clicking the 'Apply to the Canadian Renaissance Music Summer School' button on our
  <a href="/apply">contact page</a>. Here you can also follow us on social media and fill in a web form that will send us a quick email if you like.
</p>
<p>
  You'll be using the same application form as our singer participants and so it may contain some questions that don't apply to you as a lutenist. You are welcome to
  skip over them if you wish.
</p>

<h3>Cost</h3>
<p>The cost of attending Lute day is <b>$100</b></p>

<!--
<hr />

<h2 id="covid">Covid-19 Information</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>Safety comes first</h3>
<p>
  We at CRMSS acknowledge that there are still risks due to the coronavirus, and those risks will continue through the end of August 2021 and beyond. Throughout our
  time together, we will act with respect and caution, and we expect all of our tutors and participants to do the same. Great music cannot be made by people who are
  uncomfortable in their surroundings.
</p>
<p>We will follow the law to the letter in all that we do and will keep ourselves up to date when the law changes.</p>
<p>We will communicate clearly what the specific expectations are before and during the course.</p>
<p>
  Unless guidance changes, we are planning on requiring masks to be worn at all times when indoors. The size of our venues mean that social distancing will be
  possible throughout the course, and individual decisions about rehearsal venues will be made with this in mind. Hand sanitizer will be readily available and we
  will ventilate all of our spaces thoroughly.
</p>
<p>
  It is our intention now to close the course off entirely to the public. Only those who are tutors or participants (including those auditing CRMSS this year) will
  be able to attend our sessions, including our nightly Compline services and any other church services in which we might participate. We will not give a public
  concert.
</p>
<p>All of our decisions will be guided by respect: for the power of the virus, for one another, and for the music we are here to serve and enjoy.</p>

<h3>Vaccination requirement</h3>
<p>
  CRMSS 2021 will only be attended by those who are fully vaccinated against Covid-19. This means that everyone present will have received the 2nd dose of a two-shot
  vaccine, or their single-dose vaccination, on or before the 13th of August.
</p>
<p>
  Enforcement of this policy will depend on everyone understanding the seriousness of the situation. We will unfortunately be unable to welcome people who are
  unwilling to disclose to us their vaccination status.
</p>
-->
