---
id: course
layout: default
title: The Course
description: A detailed description of the course, including repertoire, performance opportunities, different types of singing, a typical day's schedule, lectures and talks, and more.
page-nav-items:
  - title: Repertoire
    target: "#repertoire"
    id: 1
  - title: Performances
    target: "#performances"
    id: 2
  - title: A Typical Day
    target: "#typical-day"
    id: 3
  - title: Lectures
    target: "#lectures"
    id: 4
  - title: "Lute Day"
    target: "#lute-day"
    id: 5
  - title: "Covid-19 Information"
    target: "#covid"
    id: 6
  - title: "Conducting Masterclass"
    target: "#conducting-masterclass"
    id: 7
---

<center>
  <h1>Course Description</h1>
</center>

{%- comment -%}{% include preliminary-warning-sub.html %}{%- endcomment -%} {% include page-nav.html page-nav-item-ids="1 2 7 3 4 5 6" %}

<h2 id="repertoire">Repertoire</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>CRMSS 2022 Theme</h3>
<p>The theme of CRMSS 2022 is <i>Camino: Polyphonic Journeys through Iberia and the New World</i>.</p>
<p>In 2022, we focus on the music of Renaissance Spain and Portugal.</p>
<p>
  There is so much here! It would be possible to spend a week singing the music of T&oacute;mas Luis de Victoria alone. We will look further, of course, knowing that
  this area has long been a crossroads: a place of pilgrimage, and the seat of a global empire.
</p>
<p>
  The "golden age" of Spanish polyphony is well-known today, with works by Victoria, Francisco Guerrero, Alonso Lobo, and Cristobal de Morales often performed around
  the world. Less well-known is the music of a school of composers all connected with the small cathedral town of &Eacute;vora in Portugal: Duarte Lobo, Manuel
  Cardoso, and Filipe de Magalh&atilde;es. These men wrote polyphonic music in the middle of the 17th-century, backward-looking at first glance, but with decidedly
  modern, sometimes audacious, and always intensely expressive flourishes.
</p>
<p>
  As Iberian influence spread over the centuries, some Spanish and Portuguese composers found themselves living and working in the New World - in places such as
  Mexico, Peru, Bolivia, and Brazil. Chief among these was Juan Guti&eacute;rrez de Padilla, a Spaniard who enjoyed great fame while based in Puebla, Mexico. In
  time, polyphonic musical traditions took hold on these places as well, and eventually resulted in native born composers writing in a Renaissance counterpoint
  style.
</p>
<p>There is so much to explore! Come and join us as we dive deep into this rich, passionate, and evocative style.</p>

<h3>What types of singing happen at CRMSS?</h3>

<h3>Choral</h3>
<p>
  A major focus of the week's work will be singing together as one choir, exploring larger scale, mainly sacred a capella music of the Renaissance. The specific
  repertoire chosen will depend on the distribution of voices amongst the course participants, and the repertoire selections will conform with the theme of this
  year's course.
</p>
<p>We will also divide the participants into two smaller chamber groups which will work separately, on top of the tutti singing we will do together.</p>

<h3>Solo</h3>
<p>
  While the majority of our time will be spent preparing ensemble music in choral and small group contexts, good solo vocal technique is of course essential for good
  singing. This applies to music written in any style and from any time period.
</p>

<p>
  Details of who will lead the solo singing side of CRMSS 2022 are still being determined. Solo singing and good vocal technique are core parts of CRMSS and this
  year will be no different.
</p>

<p>
  We're very lucky to again have Lucas Harris, one of Canada's most prestigious lutenists, with us for the entire week in 2022. While not running
  <a onclick="javascript:Scroll('#lute-day');">Lute Day</a>, Lucas will be available to work with solo singers in preparing solo repertoire to be accompanied on the
  lute or vihuela, a 16th-century guitar. Lucas will bring an array of instruments for the purpose! Singers interested in exploring this repertoire throughout the
  week will also benefit from a masterclass experience.
</p>

<p>
  Participants are enthusiastically encouraged to bring their own solo repertoire, and we suggest works written before 1675. If you can bring music written by
  composers from Spain, Portugal, or the Spanish colonies of the New World during the Renaissance, to fit into the broader theme of CRMSS 2022, that would be great
  but we will of course work with you on any Renaissance music you have an interest in.
</p>

<h3>Consort singing: one and two per part vocal chamber music</h3>
<p>
  Any serious amount of time spent getting to know the music of the Renaissance must include small-ensemble singing. The tutors will choose groups and assign them
  repertoire before the week begins, sending out scores and reference recordings so participants can prepare and come with at least one or two pieces already
  learned.
  <!-- It is in these small group settings that we can best explore secular repertoire from the Renaissance, but you won't be restricted to only working on this
  in a small group. -->
  Over the course of the week, it is hoped that other groups will also form ad hoc.
  <!-- It is of particular importance that the secular music of this period be covered,
  as it provides such a vivid picture of the sorts of musical lives the musicians of the time actually lived, be they composers or singers or both. -->
</p>

<p>As with solo repertoire, there will be opportunities to work on small ensemble music you might bring yourself.</p>

<p>
  The pre-formed small groups will all be at least two-per-part. Everyone will be allocated into one of these small groups. There will be more time set aside for
  even smaller, one-per-part consorts to form and experiment with other repertoire, both on an ad hoc basis and also under the direction of the tutors.
</p>

<hr />

<h2 id="performances">Performances</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>

<!-- <p>
  Much of the information below is still being planned and of course depends on the public health situation. Please check back here to see any updates and do
  <a href="/contact">get in touch.</a>
</p> -->

<h3>Final course concert</h3>
<p>
  We are extraordinarily privileged to be giving our final course concert in the magnificent chapel of St Peter's Seminary. This concert will be open to the public
  and will take place at <b>2:30pm</b> on <b>Sunday, May 29</b>. The concert will include a selection of the music we've learned over the course of the week,
  including chamber choir, tutti, small group, and solo selections.
</p>

<!--
  <p>
    This year we are excited to be able to present this event in the wonderful acoustic of <a target="_blank" href="https://www.cathedral.dol.ca/">St Peter's Cathedral Basilica</a> in downtown London, Ontario. This is one of London's premier concert venues and is particularly well suited to choral singing.
  </p>
-->

<h3>Choral Vespers at St Peter's Seminary</h3>
<p>
  At CRMSS 2019, a definite highlight for everyone was the special privilege of singing a Choral Vespers service in one of London Ontario's truly magnificent and
  rarely enjoyed liturgical spaces - the St. Thomas Aquinas Chapel at St Peter's Seminary. We are delighted to confirm that in 2022 we will again sing Choral Vespers
  at St Peter's Seminary, at <b>7:00pm</b> on <b>Saturday, May 28</b>.
</p>
<p>This church service will be open to the public.</p>

<h3>Daily evening church services</h3>
<p>
  Throughout the week, at the end of each day, we will sing Compline. These services will begin at <b>9pm</b> each day. Our Compline service is simple and largely
  made up of plainsong, with a few simple motets for contrast, and is designed not as something pressured or necessarily to be worked towards, but rather as a way of
  bringing our day together to a peaceful close - precisely as the service was designed to do in its original monastic context. These services will mainly serve as a
  way for us to come together as as course and to experience the daily rhythm of liturgical music making that formed the wider context for most of the music we will
  be studying.
</p>

<h3>Internal 'sharing' concert for CRMSS participants</h3>
<p>
  Everyone who participates in CRMSS 2022 will have a chance to perform any of the music they work on over the week that they wish to, be it in their preformed
  smaller groups or in groups they form themselves or the solo repertoire they've worked on or music they bring themselves... or anything else! Details are still
  being finalised, but it is likely this event will take place on <b>Friday, May 27</b> in the early afternoon.
</p>

<hr />

<h2 id="conducting-masterclass">Conducting Masterclass</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>
  Leading on from the success of our conducting masterclass at CRMSS 2021, we will be offering a slightly different, and more focussed conducting offering in 2022.
</p>
<p>
  This year, we will be working with individual participants beforehand to determine how many would like to take part, and what each person's level of experience is.
</p>
<p>
  The conducting session will be held toward the end of the week, once everyone has gotten to know one another(!), and those interested with significant experience
  in conducting and being in front of a choir will have the chance to work with a choir made up of their peers. We will discuss what specific requirements are needed
  and beneficial when conducting Renaissance counterpoint and how to pick apart a piece of polyphony from a conductor's perspective.
</p>

<hr />

<h2 id="typical-day">A Typical Day</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>
  Here's the shape of how 'a typical' day will look at CRMSS 2022. We are always in the process of tweaking the daily schedule to get things just right, and pacing
  our time is very important to us. The below is very much subject to change, and individual events on given days will mean the schedule deviates from this
  significantly.
</p>

<div id="typical-container">
  <div class="typical-row">
    <div class="typical-left-col">9:45am</div>
    <div class="typical-right-col">Full course warmup</div>
  </div>
  <div class="typical-row">
    <div class="typical-left-col">10:00am</div>
    <div class="typical-right-col">Full course choral rehearsal - 2.5 hours, including a 20 minute tea break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">12:30pm</div>
    <div class="typical-right-col">Lunch</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">2:00pm</div>
    <div class="typical-right-col">Small group work and/or solo sessions, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">3:00pm</div>
    <div class="typical-right-col">Lecture / Symposium / Round Table / Masterclass, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">4:00pm</div>
    <div class="typical-right-col">Continued small group work, ad hoc, or solo sessions, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">5:00pm</div>
    <div class="typical-right-col">Full course choral rehearsal - 1 hour, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">6:00pm</div>
    <div class="typical-right-col">Dinner</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">7:00pm</div>
    <div class="typical-right-col">Full course choral rehearsal - 1 hour, including a 10 minute break</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">8:00pm</div>
    <div class="typical-right-col">Compline rehearsal (approx. 45 min)</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">9:00pm</div>
    <div class="typical-right-col">Compline (approx. 30-45 min)</div>
  </div>

  <div class="typical-row">
    <div class="typical-left-col">10:00pm</div>
    <div class="typical-right-col">Pub / Home / Sleep / Late night singing!</div>
  </div>
</div>

<!-- <h3>
  Soft launch
</h3>
<p>
  New for CRMSS 2021 will be a 'soft launch' to the week. The course will begin on the afternoon of Thursday,
  August 26th with a longer registration period and time for you to find your feet in our venues. The singing that
  day will only consist of a tutti rehearsal, followed by wine and nibbles (that might perhaps extend into
  the evening!). More information on this 'soft launch' will be available soon.
</p> 
-->

<h3>The right pace</h3>
<p>
  We received some very positive feedback after CRMSS 2021 suggesting that the pace of the week was much improved relative to previous years. The week is a busy one
  and it's important that everyone gets enough down time.
</p>
<p>
  Attendance at Compline each evening will not be compulsory, but is greatly encouraged! The feedback we've received from those who did attend every night in
  previous years has been that it is a wonderful way to bring each day to a close, but we also understand that some of you may need your sleep!
</p>
<p>
  Attendance at the talks will also not be compulsory, but encouraged - if for no other reason than to give your voice a break and get your brain thinking about
  something other than all that sight reading.
</p>
<p>Of course, if you feel at any time that you need a break, you are welcome to approach any tutor and ask.</p>

<!--
<h3>... and an afternoon off!</h3>
<p>
  In another change from 2018 and 2019, we will plan an entire afternoon off during the week once things have got going. This will allow the course as a whole to go
  somewhere off campus and do something non-musical together - to have some fun as a group and get to know one another! We are looking at minigolf or laser tag or
  even just a picnic in the park. Those plans are not finalised, and we'll update you once the final course scheduling has been completed in the summer. The idea
  will be to relax for an afternoon and recharge for the rest of the week's intense singing.
</p>
<p>We have heard your feedback about the pace of the week and are determined to find a good balance.</p>
-->

<hr />

<h2 id="lectures">Lectures, Symposia, and Round Table discussions</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<p>
  The course will include some sessions in which we - don't - sing! These discussions will provide context for the practical music making which is the focus of the
  course, and highlight the importance of scholarship in performance, and, crucially, visa versa.
</p>
<p>Our programme of speakers at CRMSS 2022 has not yet be finalised.</p>

<p>In the past at CRMSS, we've enjoyed the following:</p>

<ul class="lectures-list">
  <li>
    <b>Dr. Aaron James</b> gave a talk about how musicians in the time of Josquin des Prez actually learned music as students, using a system known as the Guidonian
    Hand, and entitled <i>A Helping Hand: Guido, Hexachords, Solmization, and Musicianship in the Renaissance.</i>
  </li>
  <li>
    <b>Dr. Kate Helsen</b> showed us how Josquin des Prez was actually a pretty slippery character to pin down - who was he, actually? How many 'Josquins' were
    there? Her talk was entitled <i>Josquin: Choose your own adventure</i>.
  </li>
  <li>
    <b>Dr. Patrick Murray</b> took us through the process of preparing a piece of Renaissance polyphony for modern day performance in his talk entitled
    <i>Anything but ‘Ordinary:’ Bringing a Renaissance mass to life in contemporary performance.</i>
  </li>
  <li>
    <b>Sharang Sharma</b> took us through an introduction to some practical methods we can use to help learn the required musical skills to sight-read Renaissance
    music and chant effectively.
  </li>
  <li>
    <b>Dr. Roseen Giles</b> gave a paper entitled “‘Don't worry, this will sing itself', and other musical fictions" about the practice of <i>musica ficta</i>.
  </li>
  <li><b>Andrew Pickett</b> presented “‘Drop the beat’ - Introduction to the theory and practice of vocal ensemble intonation”.</li>
  <li><b>Dr. Kate Helsen</b> introduced us to some of her fascinating new research in “What's in a Riff - Chant DNA in modal polyphony”.</li>
  <li>
    <b>Greg Skidmore, Matt Long,</b> and <b>Emily Atkinson</b> took part in a round table discussion led by Dr. Giles entitled “Being a Professional Singer in the
    UK”, taking questions on every aspect of their professional lives in the UK.
  </li>
  <li><b>Lucas Harris</b> gave a lecture entitled “Musica Transalpina: The madrigal in Italy &amp; England, c1600”</li>
  <li><b>Dr. Kate Helsen</b> gave us a crash course in Renaissance musical notation with her workshop entitled “Partly Useful: Renaissance notation”</li>
  <li>
    <b>Dr. Troy Ducharme</b> of the Don Wright Faculty of Music at Western University wrapped our heads around Gesualdo's wild sounds with “Beyond Rules:
    Counterpoint Technique, Musical Meaning, and Style in Selected Works of Gesualdo.”
  </li>
</ul>

<hr />

<h2 id="lute-day">Lute Day</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>

<h3>A mini-CRMSS just for lutenists!</h3>
<p>
  Following on from the success of the first CRMSS Lute Day in 2021, we'll again be running a dedicated sub-event within CRMSS this year, CRMSS Lute Day. Lucas
  Harris will take charge of this event, and the precise shape of the event is still to be determined. If you are interested in taking part, please
  <a href="/contact">get in touch with CRMSS</a>.
</p>
<p>
  Lucas will be contacting potential participants individually and will create a bespoke experience once he has an idea of who will be coming. Here is a list of
  proposed activities:
</p>
<ul class="lectures-list">
  <li>Warmup and technique class</li>
  <li>Lute ensemble work</li>
  <li>Private lessons(probably short, 30 to 45 minutes)</li>
  <li>Masterclass</li>
  <li>A workshop of division playing</li>
  <li>Lute 'tasting' session</li>
  <li>Short, informal concert, perhaps in collaboration with singing from Katherine Hill and/or Greg Skidmore</li>
</ul>

<p>We are very fortunate to welcome Terry McKenna back as a tutor at CRMSS 2022 Lute Day. He will be joining Lucas in planning and running this event.</p>

<h3>Date</h3>
<p>The date of Lute Day this year will be:</p>
<p><b>Monday, May 23rd</b></p>
<p>
  The precise schedule of the day hasn't yet been decided, but the event will last for a 'full day'. Participants and tutors at CRMSS 2022 Lute Day will be welcome
  to attend our nightly Compline service, and perhaps play something during that as well!
</p>

<!-- <h3>How to apply</h3>
<p>
  Please fill in our online application form, by clicking the 'Apply to the Canadian Renaissance Music Summer School' button on our
  <a href="/apply">contact page</a>. Here you can also follow us on social media and fill in a web form that will send us a quick email if you like.
</p>
<p>
  You'll be using the same application form as our singer participants and so it may contain some questions that don't apply to you as a lutenist. You are welcome to
  skip over them if you wish.
</p> -->

<h3>Cost</h3>
<p>The cost of attending Lute day is <b>$125</b></p>

<hr />

<h2 id="covid">Covid-19 Information</h2>
<a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
<h3>Safety comes first</h3>
<p>
  We at CRMSS acknowledge that there are still risks due to the coronavirus, and those risks may continue to have an impact on our activities in May 2022. Throughout
  our time together, we will act with respect and caution, and we expect all of our tutors and participants to do the same. Great music cannot be made by people who
  are uncomfortable in their surroundings.
</p>
<p>We will follow the law to the letter in all that we do and will keep ourselves up to date when the law changes.</p>
<p>We will communicate clearly what the specific expectations are before and during the course.</p>
<p>
  Over the coming months, much may change. While it is our intention to run CRMSS 2022 in a very similar way to how we ran our courses before the pandemic, we of
  course understand that this may be impossible.
</p>
<p>We don't have a complete and finalised list of precautions and protocols now, but we will keep everyone involved up to date as things change.</p>

<!-- <p>
  Unless guidance changes, we are planning on requiring masks to be worn at all times when indoors. The size of our venues mean that social distancing will be
  possible throughout the course, and individual decisions about rehearsal venues will be made with this in mind. Hand sanitizer will be readily available and we
  will ventilate all of our spaces thoroughly.
</p>

<p>
  It is our intention now to close the course off entirely to the public. Only those who are tutors or participants (including those auditing CRMSS this year) will
  be able to attend our sessions, including our nightly Compline services and any other church services in which we might participate. We will not give a public
  concert.
</p> -->

<p>All of our decisions will be guided by respect: for the power of the virus, for one another, and for the music we are here to serve and enjoy.</p>

<!-- 
<h3>Vaccination requirement</h3>
<p>
  CRMSS 2021 will only be attended by those who are fully vaccinated against Covid-19. This means that everyone present will have received the 2nd dose of a two-shot
  vaccine, or their single-dose vaccination, on or before the 13th of August.
</p>
<p>
  Enforcement of this policy will depend on everyone understanding the seriousness of the situation. We will unfortunately be unable to welcome people who are
  unwilling to disclose to us their vaccination status.
</p>
-->
