---
id: tutors
layout: default
title: Tutors
description:
page-nav-items:
  - title: Greg Skidmore
    target: "#greg"
    represents: "The Tallis Scholars, I Fagiolini, Alamire, The Gabrieli Consort, Eric Whitacre Singers"
    id: 1
  - title: Emily Atkinson
    target: "#emily"
    represents: "The Tallis Scholars, The Cardinall's Musick, Taverner Consort"
    id: 2
  - title: "Dr. Kate Helsen"
    target: "#kate"
    represents: "Western University, London Canada"
    id: 3
  - title: Matthew Long
    target: "#matthew"
    represents: "I Fagiolini, The Sixteen, Tenebrae, The Dunedin Consort"
    id: 4
  - title: "Dr. Roseen Giles"
    target: "#roseen"
    represents: "Duke University, North Carolina, USA"
    id: 5
  - title: Andrew Pickett
    target: "#andrew"
    represents: "Royal College of Music (London, England), Early Music Society of Nova Scotia"
    id: 6
  - title: Lucas Harris
    target: "#lucas"
    represents: "Tafelmusik Baroque Orchestra, Toronto Continuo Collective, Vesuvius Ensemble"
    id: 7
  - title: "CRMSS Guest Artist: Robert Hollingworth"
    target: "#robert"
    represents: "Director of I Fagiolini, Reader in Music at the University of York, UK"
    id: 8
  - title: "CRMSS International Scholars"
    target: "#sves2021"
    represents: "University of York, UK"
    id: 9
  - title: "Dr. Aaron James"
    target: "#aaron"
    represents: "Toronto Oratory"
    id: 10
  - title: "Dr. Patrick Murray"
    target: "#patrick"
    represents: "Western University, University of Toronto Scarborough"
    id: 11
  - title: "Sharang Sharma"
    target: "#sharang"
    represents: "Huron at Western"
    id: 12
  - title: "Katherine Hill"
    target: "#katherine-hill"
    represents: "The Toronto Consort"
    id: 13
---

<center>
  <h1>CRMSS Tutors and International Scholars</h1>
</center>

{% include page-nav.html page-nav-item-ids="1 3 7 10 11" %}
<hr class="tutor-hr" />
{% include page-nav.html page-nav-item-ids="9" %}

<!-- ============ page-nav end  ============ -->

{% assign all-tutors-id-array = "1 3 7 10 11 9" | split: " " %}

{% for tutor-id in all-tutors-id-array %}
  {% assign tutor-page-data = page.page-nav-items | where: "id", tutor-id | first %}
  {% assign target-no-hash = tutor-page-data.target | remove_first: "#" %}

  {% assign align-class = "imgLeftAlign" %}
  {% assign where-we-are = forloop.index | modulo: 2 %}
  {% if where-we-are == 0 %}
    {% assign align-class = "imgRightAlign" %}
  {% endif %}

  <div class="each-tutor-container">
    <h2 id="{{target-no-hash}}" class="tutor-header">{{tutor-page-data.title}}</h2>
    <a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
    <p><b>{{tutor-page-data.represents}}</b></p>
    
    {%- assign tutor-include = "tutors/" | append: target-no-hash | append: ".html" -%}
    {% include {{tutor-include}} target=target-no-hash align=align-class %}
  </div>

  {% if forloop.last == false %}
    <hr />
  {% endif %}

{% endfor %}