---
id: tutors
layout: default
title: Tutors
description:
page-nav-items:
  - title: Greg Skidmore
    target: "#greg"
    represents: "The Tallis Scholars, I Fagiolini, Alamire, The Gabrieli Consort, Eric Whitacre Singers"
    id: 1
  - title: Emily Atkinson
    target: "#emily"
    id: 2
  - title: "Dr. Kate Helsen"
    target: "#kate"
    represents: "Western University, London Canada"
    id: 3
  - title: Matthew Long
    target: "#matthew"
    id: 4
  - title: "Dr. Roseen Giles"
    target: "#roseen"
    id: 5
  - title: Andrew Pickett
    target: "#andrew"
    id: 6
  - title: Lucas Harris
    target: "#lucas"
    represents: "Tafelmusik Baroque Orchestra, Toronto Continuo Collective, Vesuvius Ensemble"
    id: 7
  - title: "CRMSS Guest Artist: Robert Hollingworth"
    target: "#robert"
    id: 8
  - title: "CRMSS International Scholars"
    target: "#sves2021"
    represents: "University of York, UK"
    id: 9
  - title: "Dr. Aaron James"
    target: "#aaron"
    represents: "Toronto Oratory"
    id: 10
  - title: "Dr. Patrick Murray"
    target: "#patrick"
    represents: "Western University, University of Toronto Scarborough"
    id: 11
---

<center>
  <h1>CRMSS Tutors and International Scholars</h1>
</center>

{%- comment -%}
{% include covid-warning-sub.html %}
{%- endcomment -%}

{% include page-nav.html page-nav-item-ids="1 3 7 10 11" %}

<hr class="tutor-hr" />

{% include page-nav.html page-nav-item-ids="9" %}

<!-- ============ page-nav end  ============ -->

{% assign all-tutors-id-array = "1 3 7 10 11 9" | split: " " %}

{% for tutor-id in all-tutors-id-array %}
  {% assign tutor-page-data = page.page-nav-items | where: "id", tutor-id | first %}
  {% assign target-no-hash = tutor-page-data.target | remove_first: "#" %}

  {% assign align-left = true %}
  {% assign where-we-are = forloop.index | modulo: 2 %}
  {% if where-we-are == 0 %}
    {% assign align-left = false %}
  {% endif %}

  <div class="each-tutor-container">
    <h2 id="{{target-no-hash}}" class="tutor-header">{{tutor-page-data.title}}</h2>
    <a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
    <p><b>{{tutor-page-data.represents}}</b></p>

    {% if align-left %}
      <p>
      <img src="/img/{{target-no-hash}}.jpg" class="imgLeftAlign" data-featherlight="/img/{{target-no-hash}}.jpg" loading="lazy" />
    {% else %}
      <p>
      <img src="/img/{{target-no-hash}}.jpg" class="imgRightAlign" data-featherlight="/img/{{target-no-hash}}.jpg" loading="lazy" />
    {% endif %}
    
    {%- assign tutor-include = "tutors/" | append: target-no-hash | append: ".html" -%}
    {% include {{tutor-include}} %}
  </div>

  {% if forloop.last == false %}
    <hr />
  {% endif %}

{% endfor %}