---
id: tutors
layout: default
title: Tutors
description: Tutors and staff members of the Canadian Renaissance Music Summer School, including biographies.
page-nav-items:
  - title: Greg Skidmore
    target: "#greg"
    represents: "The Tallis Scholars, I Fagiolini, Alamire, The Gabrieli Consort, Eric Whitacre Singers"
    id: GS
  - title: Emily Atkinson
    target: "#emily"
    represents: "The Tallis Scholars, The Cardinall's Musick, Taverner Consort"
    id: EA
  - title: "Dr. Kate Helsen"
    target: "#kate"
    represents: "Western University, London Canada"
    id: KH
  - title: Matthew Long
    target: "#matthew"
    represents: "I Fagiolini, The Sixteen, Tenebrae, The Dunedin Consort"
    id: ML
  - title: "Dr. Roseen Giles"
    target: "#roseen"
    represents: "Duke University, North Carolina, USA"
    id: RG
  - title: Andrew Pickett
    target: "#andrew"
    represents: "Royal College of Music (London, England), Early Music Society of Nova Scotia"
    id: AP
  - title: Lucas Harris
    target: "#lucas"
    represents: "Tafelmusik Baroque Orchestra, Toronto Continuo Collective, Vesuvius Ensemble"
    id: LH
  - title: "CRMSS Guest Artist: Robert Hollingworth"
    target: "#robert"
    represents: "Director of I Fagiolini, Reader in Music at the University of York, UK"
    id: RH
  - title: "CRMSS International Scholars"
    target: "#sves2022"
    represents: "University of York, UK"
    id: SVES
  - title: "Dr. Aaron James"
    target: "#aaron"
    represents: "Toronto Oratory"
    id: AJ
  - title: "Dr. Patrick Murray"
    target: "#patrick"
    represents: "Western University, University of Toronto Scarborough"
    id: PM
  - title: "Sharang Sharma"
    target: "#sharang"
    represents: "Huron University College"
    id: SS
  - title: "Katherine Hill"
    target: "#katherine-hill"
    represents: "The Toronto Consort, St Bartholomew, Regent Park"
    id: KHill
  - title: "Terry McKenna"
    target: "#terry"
    represents: "The Toronto Consort, Stratford Festival, Wilfrid Laurier University"
    id: TM
---

<center>
  <h1>CRMSS Tutors</h1>
</center>

{%- comment -%}{% include preliminary-warning-sub.html %}{%- endcomment -%}

{% include page-nav.html page-nav-item-ids="RH" %}

<hr>

{% include page-nav.html page-nav-item-ids="GS LH KH" %}

<hr>

{% include page-nav.html page-nav-item-ids="SVES" %}

<!-- ============ page-nav end  ============ -->

{% assign all-tutors-id-array = "GS RH LH KH SVES" | split: " " %}

{% for tutor-id in all-tutors-id-array %}
  {% assign tutor-page-data = page.page-nav-items | where: "id", tutor-id | first %}
  {% assign target-no-hash = tutor-page-data.target | remove_first: "#" %}

  {% assign align-class = "imgLeftAlign" %}
  {% assign where-we-are = forloop.index | modulo: 2 %}
  {% if where-we-are == 0 %}
    {% assign align-class = "imgRightAlign" %}
  {% endif %}

  <div class="each-tutor-container">
    <h2 id="{{target-no-hash}}" class="tutor-header">{{tutor-page-data.title}}</h2>
    <a class="back-to-top" onclick="javascript:ScrollToTop();">Back to top</a>
    <p><b>{{tutor-page-data.represents}}</b></p>
    
    {%- assign tutor-include = "tutors/" | append: target-no-hash | append: ".html" -%}
    {% include {{tutor-include}} target=target-no-hash align=align-class %}
  </div>

  {% if forloop.last == false %}
    <hr />
  {% endif %}

{% endfor %}