<div id="covidwarning-sub">
  <p>
    The information on this page is mainly based on the proposed 2020 version of the
    course, before it was cancelled. With it is mixed some information about our ambitions
    for the course in 2021, but we unfortunately can't confirm any of these details for
    certain right now.
    <br><br>
    Everything will be planned for CRMSS 2021 in full knowledge of the public health situation. We will of course put the safety of everyone involved first.
    <br><br>
    Applications for CRMSS 2021 are now open and if you would like more information,
    please <a href="/contact">get in touch.</a>
  </p>
</div>