<div id="covid-warning">
    <h3>
      <center>
        The Canadian Renaissance Music Summer School 2021 has just been announced!<br><br>It will take place in
        London Ontario on the following dates:<br><br>Thursday, August 26th<br>to<br>Friday, September 3rd<br><br>
      </center>
    </h3>
    <p>Much of the information on this page and the rest of this website relates to the proposed 2020 version of the
      course, left here as an indication of what was planned. It will be updated in the coming days and weeks.
      Please check back often for all our updates.</p>
    <center>
      <p>If you wish to inquire about the course in 2021, please <a href="/contact">get in touch.</a></p>
      <p>You can also follow us on social media: <a href="https://fb.com/canresmusss">fb.com/canrenmusss</a> and <a
          href="https://twitter.com/canrenmusss">twitter.com/canrenmusss</a></p>
      <p>The Canadian Renaissance Music Summer School is now a federally registered not-for-profit organisation in
        Canada. We have struggled in 2020 like all other arts organisations. Please consider <a
          href="/donate">donating</a> to us if you are able.
      </p>
    </center>
  </div>