<div id="social-container">
  <!-- <a href="https://twitter.com/canrenmusss?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false"
    >Follow @canrenmusss</a
  >
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

  <a id="twitter-block-a" href="https://www.twitter.com/canrenmusss"></a>

  <a href="https://www.facebook.com/canrenmusss/reviews"><img id="facebook-review-image" src="img/facebook-review1.png" /></a>

  <a id="instagram-block-a" href="https://www.instagram.com/canrenmusss"></a>

  <!-- <div
    class="fb-like"
    data-href="https://www.facebook.com/canrenmusss/"
    data-layout="button"
    data-action="like"
    data-size="large"
    data-show-faces="false"
    data-share="false"
  ></div> -->
  <!-- <div class="flex-line-break"></div> -->
</div>
