#application-form-banner,
#covid-survey-banner,
#snacks-banner,
#petrol-banner,
#greg-lunch-banner,
#tshirts-banner,
#first-night-banner,
#party-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: 1% 52%;
  background-size: 450%;
  background-repeat: no-repeat;
}

#google-form-container {
  padding-top: 5%;
}
