#contact-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: 48% 78%;
  background-size: 520%;
  background-repeat: no-repeat;
}

.contact-ul {
  padding-left: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 200px;
  width: 90%;
  border-radius: 8px;
  box-shadow: $dropshadow;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

form[name="Question-form"] {
  border: thin red solid;
  padding: 10px;
  width: 90%;
  margin-top: 10px;
  box-shadow: $dropshadow;
  border-radius: 8px;
  background-color: #f6f6f6;
}

input[type="text"] {
  padding: 2%;
  margin: 5px;
  border: thin black solid;
}

input[name="Name"],
input[name="Email"] {
  width: 50%;
  margin-bottom: 10px;
}

textarea {
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  resize: none;
  padding: 2%;
  border: thin black solid;
}

input[type="submit"] {
  background-color: #ff0032;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  box-shadow: none;
  transition: box-shadow ease 0.5s;
  position: relative;
  top: -8px;
}

input[type="submit"]:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

input[type="submit"]:active {
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  box-shadow: none;
  border: 0;
  outline: none;
  transform: translateY(2px);
}

input[type="submit"]:focus {
  outline: none;
}
