#course-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: 98% 58%;
  background-size: 400%;
  background-repeat: no-repeat;
}

ul.lectures-list {
  width: 90%;
}

#typical-container {
  display: inline-block;
  /*border:thin green solid;*/
  width: 95%;
  margin-top: 10px;
}

.typical-row div {
  font-size: 0.9em;
}

.typical-row {
  width: 100%;
  display: inline-block;
  margin-bottom: 2%;
  height: auto;
}

.typical-left-col {
  /*border:thin red solid;*/
  display: block;
  margin: 1px;
  width: 20%;
  text-align: right;
  margin-right: 4%;
  float: left;
  height: 50px;
}

.typical-right-col {
  /*border:thin blue solid;*/
  display: block;
}

@media only screen and (min-width: 390px) and (max-width: 749px) {
  .typical-left-col {
    height: 30px;
  }
}

@media only screen and (min-width: 750px) {
  .typical-left-col {
    height: 20px;
  }
}
