.page-nav {
  cursor: pointer;
  font-weight: bold;
}

.page-nav-container {
  // border: thin blue solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  line-height: 1.7em;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
}

.page-nav-span {
  // border: thin red solid;
  display: inline-block;
  padding: 10px 20px;
  min-width: 220px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .page-nav {
    font-size: 0.9em;
  }
}
