#parking-banner,
#lute-day-2022-registration-form-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: -10px 29%;
  background-size: 270%;
  background-repeat: no-repeat;
}
