#patron-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: 28% 50%;
  background-size: 790%;
  background-repeat: no-repeat;
}

#patron-container {
  margin: 0;
}

#patron-container img {
  width: clamp(100px, 80%, 400px);
  margin: 3% 0 0 0;
  box-shadow: $imgdropshadow;
  border-radius: 8px;
  cursor: zoom-in;
}
