#preliminary-warning {
  border: thick red solid;
  background-color: #c1c1c1;
  padding: 2%;
  margin: 3%;
  box-shadow: $drop-shadow;
}

#preliminary-warning-sub {
  border: thin red solid;
  border-radius: 8px;
  width: 92%;
  max-width: 800px;
  margin: 4% auto;
  // margin-bottom: 5%;
  // margin-left: auto;
  // margin-right: auto;
  padding: 5px 15px;
  box-shadow: $drop-shadow;
}

#preliminary-warning h3 {
  padding: 0;
  margin: 0;
}
