#tutors-banner {
  background-image: url("../img/banner-sprite.jpg");
  background-position: 56% 41%;
  background-size: 375%;
  background-repeat: no-repeat;
}

hr.tutor-hr {
  margin: 30px 0px 10px 0px;
}

.each-tutor-container {
  display: inline-block;
}

.each-tutor-container p {
  display: block;
}

.each-tutor-container img {
  width: 20%;
  margin: 4%;
  margin-top: 0;
  max-width: 300px;
  min-width: 150px;
  box-shadow: $img-drop-shadow;
  border-radius: 8px;
  cursor: zoom-in;
  position: relative;
  top: 7px;
}

h2.tutor-header {
  margin-top: 0px;
}

.imgLeftAlign {
  float: left;
  margin-left: 0 !important;
}

.imgRightAlign {
  float: right;
  margin-right: 5px !important;
}

.tutor-quotation-head,
.tutor-quotation {
  clear: both;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.tutor-quotation {
  font-weight: bold;
  font-style: italic;
}
