#upload-banner {
  // background-image: url("../img/uploadbanner-s.jpg");
  // background-position: 0px -130px;
  background-image: url("../img/banner-sprite.jpg");
  background-position: 60% 18%;
  background-size: 350%;
  background-repeat: no-repeat;
}

.upload-form {
  border: thin red solid;
  width: 75%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 8px;
  padding: 1%;
  box-shadow: $drop-shadow;
  background-color: #f6f6f6;
}

.upload-form iframe {
  border: 0;
  width: 100%;
}
